.ours{
    &__flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__borderL{
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    &__borderR{
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    &__relative{
        position: relative;
        &:hover{
            transform: scale(1.05);
        }
    }
    &__center{
        text-align: center;
    }
    &__HW{
        max-width: 20rem;
        max-height: 15rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__link-deco-none {
    text-decoration: none;
    color: black;
    }
    &__star{
        color: orange;
    }
    &__padding0{
        padding-right: 0 !important;
    }
    &__remove{
        display: flex;
    }
}

.panier{
    color: #20446f;
}
.btn-secondary:hover{
    background-color: #aec6a1 !important;
    color: black !important;
}

.compteur{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5rem;
    color: white;
}

.objectif{
    object-fit: cover;
}

input:invalid {
    background-color: #ffdddd;
  }
  
  
  input:valid {
    background-color: #ddffdd;
  }
  
  input:required {
    border-color: #800000;
    border-width: 3px;
  }
  
  input:required:valid {
    border-color: #008000;
  }

.color:hover{
    cursor: pointer;
    transform: scale(1.3);
}